.header {
  background-color: #fff;
  padding-top: 43px;
  width: 918px;
  max-width: 100%;
  margin: 0 auto 56px;

  @include mq('tablet-wide') {
    padding-top: vw(43);
    max-width: 96%;
    margin: 0 auto vw(56);
  }

  @include mq('phablet') {
    padding-top: vwm(3);
    width: vwm(198);
    margin-bottom: vwm(15);
  }

  &__logo {
    display: block;
    width: 363px;
    height: 82px;
    margin: 0 auto;
    background: center / cover url(../images/header.png) no-repeat;

    @include mq('phablet') {
      width: vwm(184);
      height: vwm(56);
      background: center / cover url(../images/header__mobile.png) no-repeat;
    }
  }

  &__line {
    display: block;
    width: 100%;
    height: 4px;
    background: #ba1b7f;
    margin: 19px 0 23px;

    @include mq('phablet') {
      height: vwm(2);
      margin: vwm(10) 0 vwm(15);
    }
  }

  &__menu {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @include mq('tablet-wide') {
      justify-content: center;
    }
    @include mq('phablet') {
      display: none;
    }
  }

  &__item {
    margin: 0 23px;

    @include mq('tablet-wide') {
      margin: 0 vw(23);
    }
  }

  &__link {
    font-family: 'Roboto', sans-serif;
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    width: max-content;

    @include mq('tablet-wide') {
      font-size: vw(24);
      line-height: vw(24);
    }
  }
}
