section.geox
    .geox__bg
    a.geox__logo(href="#") 
        img.geox__logo-image(src="assets/images/logo.png", alt="")
    .geox__content
        .geox__heading 
            .geox__heading-item Тренч 
            .geox__heading-space
            .geox__heading-item с тобой! 
        
        .geox__desc Какой он – идеальный плащ?
    

section.preview
    .preview__desc Плащ – это не просто главный герой весеннего сезона и один самых популярных трендов последних нескольких лет, но еще и идеальная базовая вещь. #[br()] Тренч олицетворяет ключевой принцип рационального и осознанного гардероба – универсальность. Если вы выбрали актуальную модель, соответствующую вашему стилю и образу жизни, составить с ней множество интересных образов точно не составит труда. Ответьте на вопросы нашего теста и узнайте, какой вариант подходит именно вам!
    .preview__btn
        span Пройти тест

section.test 
    .test__slider
        .test__slide
            .test__item#item1(style="background:#FDF8F5")
                .test__heading 
                    .test__counts 1/7
                    .test__title 1.	Как выглядит ваша любимая пара обуви в этом весеннем сезоне?
                .test__content
                    img.test__image(src="assets/images/var1.png", alt="")
                    .test__vars
                        label.test__label
                            input.test__baseInput(type="radio", name="var1", data-point="1")
                            .test__input А
                            .test__desc Лоферы.
                        label.test__label
                            input.test__baseInput(type="radio", name="var1", data-point="2")
                            .test__input Б
                            .test__desc Ботинки на шнуровке.
                        label.test__label
                            input.test__baseInput(type="radio", name="var1", data-point="3")
                            .test__input В
                            .test__desc Балетки.
                        label.test__label
                            input.test__baseInput(type="radio", name="var1", data-point="4")
                            .test__input Г
                            .test__desc Кроссовки.
        .test__slide
            .test__item#item2(style="background:#fff")
                .test__heading 
                    .test__counts 2/7
                    .test__title Как бы вы могли описать ваш образ жизни?
                .test__content
                    .test__vars
                        label.test__label
                            input.test__baseInput(type="radio", name="var2", data-point="1")
                            .test__input А
                            .test__desc Я ищу баланс между работой и личной жизнью.
                        label.test__label
                            input.test__baseInput(type="radio", name="var2", data-point="2")
                            .test__input Б
                            .test__desc Работа без строгого дресс-кода, выставки, культпоходы – обожаю активную городскую жизнь!
                        label.test__label
                            input.test__baseInput(type="radio", name="var2", data-point="3")
                            .test__input В
                            .test__desc Встречи с друзьями, прогулки по городу, свидания, учеба.
                        label.test__label
                            input.test__baseInput(type="radio", name="var2", data-point="4")
                            .test__input Г
                            .test__desc В своей жизни я делаю ставку на спорт, вечеринки и модные мероприятия.
                    
                    img.test__image(src="assets/images/var2.png", alt="")
        .test__slide
            .test__item#item3(style="background:#FDF8F5")
                .test__heading 
                    .test__counts 3/7
                    .test__title Какой длины должен быть ваш идеальный тренч?
                .test__content
                    img.test__image(src="assets/images/var3.png", alt="")
                    .test__vars
                        label.test__label
                            input.test__baseInput(type="radio", name="var3", data-point="1")
                            .test__input А
                            .test__desc До колен или чуть ниже.
                        label.test__label
                            input.test__baseInput(type="radio", name="var3", data-point="2")
                            .test__input Б
                            .test__desc Чем короче, тем лучше.
                        label.test__label
                            input.test__baseInput(type="radio", name="var3", data-point="3")
                            .test__input В
                            .test__desc Короткий, но чтобы можно #[br()] было надеть вместе с платьем.
                        label.test__label
                            input.test__baseInput(type="radio", name="var3", data-point="4")
                            .test__input Г
                            .test__desc Максимально длинный.
        .test__slide
            .test__item#item4(style="background:#fff")
                .test__heading 
                    .test__counts 4/7
                    .test__title  Какой вам хочется казаться в глазах незнакомцев?
                .test__content
                    .test__vars
                        label.test__label
                            input.test__baseInput(type="radio", name="var4", data-point="1")
                            .test__input А
                            .test__desc Женственной и элегантной.
                        label.test__label
                            input.test__baseInput(type="radio", name="var4", data-point="2")
                            .test__input Б
                            .test__desc Яркой и динамичной.
                        label.test__label
                            input.test__baseInput(type="radio", name="var4", data-point="3")
                            .test__input В
                            .test__desc Романтичной и таинственной.
                        label.test__label
                            input.test__baseInput(type="radio", name="var4", data-point="4")
                            .test__input Г
                            .test__desc Естественной и активной.
                    
                    img.test__image(src="assets/images/var4.png", alt="")
        .test__slide
            .test__item#item5(style="background:#FDF8F5")
                .test__heading 
                    .test__counts 5/7
                    .test__title Из чего состоит ваш базовый гардероб?
                .test__content
                    picture
                        source(srcset="assets/images/item5-mobile.png" class="test__image" media="(max-width: 559px)")
                        img.test__image(src="assets/images/var5.png")
                    .test__vars
                        label.test__label
                            input.test__baseInput(type="radio", name="var5", data-point="1")
                            .test__input А
                            .test__desc Свободные джинсы и классические рубашки. 
                        label.test__label
                            input.test__baseInput(type="radio", name="var5", data-point="2")
                            .test__input Б
                            .test__desc Узкие брюки и топы ярких чистых оттенков.
                        label.test__label
                            input.test__baseInput(type="radio", name="var5", data-point="3")
                            .test__input В
                            .test__desc Платья в цветочек и джинсы с завышенной талией.
                        label.test__label
                            input.test__baseInput(type="radio", name="var5", data-point="4")
                            .test__input Г
                            .test__desc Свитшоты, легинсы, джоггеры.
        .test__slide    
            .test__item#item6(style="background:#fff")
                .test__heading 
                    .test__counts 6/7
                    .test__title  Как вы относитесь к сезонным трендам?
                .test__content
                    .test__vars
                        label.test__label
                            input.test__baseInput(type="radio", name="var6", data-point="1")
                            .test__input А
                            .test__desc Предпочитаю классику, а тренды ввожу #[span(class="nowrap") в гардероб] «небольшими дозами» –#[span(class="nowrap") в виде аксессуаров], например.
                        label.test__label
                            input.test__baseInput(type="radio", name="var6", data-point="2")
                            .test__input Б
                            .test__desc Обожаю экспериментировать с самыми эффектными и трендовыми вещами сезона!
                        label.test__label
                            input.test__baseInput(type="radio", name="var6", data-point="3")
                            .test__input В
                            .test__desc К трендам отношусь с осторожностью – выбираю только те, что вписываются #[span(class="nowrap") в мой стиль.]
                        label.test__label
                            input.test__baseInput(type="radio", name="var6", data-point="4")
                            .test__input Г
                            .test__desc Никогда специально не покупаю#[span(class="nowrap") трендовые вещи.]
                    
                    img.test__image(src="assets/images/var6.png", alt="")
        .test__slide
            .test__item#item7(style="background:#FDF8F5")
                .test__heading 
                    .test__counts 7/7
                    .test__title Что бы вы никогда не надели?
                .test__content
                    picture
                        source(srcset="assets/images/item7-mobile.png" class="test__image" media="(max-width: 559px)")
                        img.test__image(src="assets/images/var7.png")
                    .test__vars
                        label.test__label
                            input.test__baseInput.last--item(type="radio", name="var7", data-point="1")
                            .test__input А
                            .test__desc Что-то слишком яркое.
                        label.test__label
                            input.test__baseInput.last--item(type="radio", name="var7", data-point="2")
                            .test__input Б
                            .test__desc Что-то слишком невзрачное.
                        label.test__label
                            input.test__baseInput.last--item(type="radio", name="var7", data-point="3")
                            .test__input В
                            .test__desc Что-то вызывающее.
                        label.test__label
                            input.test__baseInput.last--item(type="radio", name="var7", data-point="4")
                            .test__input Г
                            .test__desc Что-то с блестками.
    .test__result
        .test__result__heading
        .test__result__content
            .test__result__desc-wrapper
                .test__result__desc#d1
                .test__result__desc#d2
            img.test__result__img.test__result__img--0(src="", alt="")
            img.test__result__img.test__result__img--1(src="", alt="")
            img.test__result__img.test__result__img--2(src="", alt="")
            img.test__result__img.test__result__img--3(src="", alt="")
            img.test__result__img.test__result__img--4(src="", alt="")
            img.test__result__img.test__result__img--5(src="", alt="")
            img.test__result__img-mobile(src="", alt="")