header.header
    a.header__logo(href="https://www.woman.ru/", target="blank")
    .header__line
    ul.header__menu 
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") звёезды
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") мода
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") здоровье
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") красота
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") отношения
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") познай себя
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") стиль жизни
        li.header__item 
            a.header__link(href="https://www.woman.ru/", target="blank") дети